.about {
  &-title {
    padding: 50px 0;
    font-size: clamp(14px, 4vw, 42px);
    font-weight: 300;

    &-hello {
      display: block;
      margin-bottom: 12px;
      font-size: clamp(48px, 15vw, 72px);
      font-weight: 700;
    }

    strong {
      font-weight: 700;
    }
  }

  &-contents {
    &-title {
      padding-bottom: 12px;
      margin-bottom: 24px;
      font-size: clamp(14px, 4vw, 20px);
      font-weight: 400;
      border-bottom: 1px solid var(--color-border);
    }

    &-article {
      margin-bottom: 48px;

      .about-article {
        &:nth-child(1) {
          margin-bottom: 32px;
        }

        &-title {
          margin-bottom: 12px;
          font-size: clamp(18px, 6vw, 26px);
          text-transform: uppercase;
        }

        &-description {
          font-size: clamp(14px, 4vw, 20px);
        }
      }
    }
  }

  @include responsive(T) {
    &-title {
      &-hello {
        margin-bottom: 32px;
      }
    }

    &-contents {
      &-title {
        width: 100%;
        padding-bottom: 24px;
        margin-bottom: 40px;
        font-size: 20px;
      }

      &-wrap {
        @include flexbox(between, end);
        flex-direction: row-reverse;
      }

      &-article {
        width: 60%;
        margin-bottom: 0;

        .about-article {
          &:nth-child(1) {
            margin-bottom: 50px;
          }

          &-title {
            margin-bottom: 12px;
            font-size: 24px;
            text-transform: uppercase;
          }

          &-description {
            font-size: 20px;
          }
        }
      }
    }
  }
}
